<!DOCTYPE html>
<html>
<head>
    <% include ./partials/head.ejs %>
</head>
<body>
<header>
    <% include ./partials/header.ejs %>
</header>

<main>
    <div class="container body-content">
        <h2>Contact</h2>
        <h3>Mark Hollier</h3>
        <address>
            1968 Falcon Hill Circle<br/>
            Sandy, UT 84092<br/>
            Email: <a href="mailto:mhollier@yahoo.com">mhollier@yahoo.com</a>
        </address>
    </div>
</main>
<footer>
    <% include ./partials/footer.ejs %>
</footer>
</body>
</html>
