<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PeopleQuest</title>

        <!-- Latest compiled and minified Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
              crossorigin="anonymous">
        <!-- Optional Bootstrap theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified Bootstrap JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
                crossorigin="anonymous"></script>        
        <script src="http://code.jquery.com/jquery-3.1.1.js"
                integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
                crossorigin="anonymous"></script>
    </head>    
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand">PeopleQuest</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#"><span class="glyphicon glyphicon-user"> Home</span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-envelope"> Contact</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            <h2>Index</h2>
            <!-- Link for adding a new person -->
            <p>
                <a href="/People/Create">Create New</a>
            </p>

            <div id="peopleList">
                <table class="table">
                    <tr>
                        <th>Image</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Age</th>
                        <th>Address</th>
                        <th>Interests</th>
                        <th></th>
                    </tr>
                    <tr>
                        <!-- Image with hyperlink to details -->
                        <td>
                            <!-- If the user clicks the image, navigate to person details page. -->
                            <a href="#">
                                <!-- Get the user image -->
                                <img class="img-rounded" height="100"
                                     src="/images/Melisandre.jpg"
                                     alt="Melisandre"
                                     title="Melisandre" />
                            </a>
                        </td>
                        <!-- FirstName -->
                        <td>
                            Melisandre
                        </td>
                        <!-- LastName -->
                        <td>
                        </td>
                        <!-- Age -->
                        <td>
                            226
                        </td>
                        <!-- Address -->
                        <td>
                            House Baratheon<br/>
                            The Stormlands, Westeros

                        </td>
                        <!-- Interests -->
                        <td>
                            Magic<br/>
                            Fire<br/>
                            Burning People at the Stake
                        </td>
                        <td>
                            <a class="btn btn-sm btn-primary" href="#" style="width: 65px">Edit</a><br/>
                            <a class="btn btn-sm btn-primary" href="#" style="width: 65px">Delete</a>
                        </td>
                    </tr>                
                </table>
            </div>

            <hr />
            <footer>
                <p>&copy; 2106 - Mark Hollier</p>
            </footer>
        </div>
    </body>
</html>
