<!DOCTYPE html>
<html>
<head>
    <% include ./partials/head.ejs %>
</head>
<body>
<header>
    <% include ./partials/header.ejs %>
</header>

<main>
    <div class="container body-content">
        <hr/>

        <div class="container">
            <!-- Search form -->
            <!-- The 'peoplequest-results-target' attribute provides the link to the div used in client
                 JavaScript during AJAX requests. -->
            <form method="get" action="/" class="form-horizontal"
                  peoplequest-enable-ajax="true">
                <div class="form-group">
                    <!-- Search by name user input control -->
                    <label class="sr-only" for="searchInput">Search by first or last name</label>
                    <input id="searchInput" type="search" name="searchTerm"
                           class="form-control col-sm-4"
                           value="<%=searchTerm%>"
                           placeholder="Search by first or last name" autocomplete="off"/>

                    <!-- Search button to submit query -->
                    <span class="input-group-btn col-sm-1" style="padding-left: 5px">
                    <button id="searchButton" class="btn btn-default" type="submit">
                        <span class="glyphicon glyphicon-search text-muted"></span>
                    </button>
                </span>
                </div>
            </form>
        </div>
        <% include ./partials/peopleList.ejs %>

    </div>
</main>

<footer>
    <% include ./partials/footer.ejs %>
</footer>
</body>
</html>
