<hr />
<div class="body-content">
<p class="text-muted">
    Created by Mark Hollier<br/>
    Code released under the MIT License.<br/>
    Slate theme by <a href="http://bootswatch.com/">Bootswatch.</a>
</p>
</div>