<hr />
<div class="body-content">
<p class="text-muted small">
    Created by Mark Hollier<br/>
    Code released under <a href="https://opensource.org/licenses/MIT">The MIT License</a><br/>
    Slate theme by <a href="http://bootswatch.com/">Bootswatch</a><br/>
    Images © HBO</p>
</div>